extends layouts/_layout

block content
  header
    h1 Joanna + Aharon's Wedding
    ul
      li
        a(href="/") Home
        span /
      li
        a(href="/wedding-day") Wedding Day
        span /
      li
        a(href="/travel") Lodging/Travel
        span /
      li
        a(href="/faq").here FAQs
        span /
      li
        a(href="https://www.zola.com/registry/jojoandaharon", target="_blank") Registry

  .banner
    img(src="/images/website-header.jpg")

  .wrapper
    .text
    
      h1(style="text-align:left") FAQs
      
      .divider
        h2 What's the attire for this wedding?
        p Not formal, but don't embarass yourself. There will be some walking on grass. <a href="https://loschy.us/">Wearing a crown is encouraged.</a>
      
      .divider
        h2 Can I give you a gift?
        p You may, but no pressure. More info <a href="https://www.zola.com/registry/jojoandaharon">here</a>.

      .divider
        h2 Can I bring kids?
        p Kids are welcome. 
      
      .divider
        h2 Anything fun for kids to do in the area?
        p Check out the <a href="http://cohanzickzoo.org/" target="_blank">Cohanzick Zoo</a> in Bridgeton, NJ. For older kids, the New Jersey Motorsports Park has <a href="http://njmp.com/karting-paintball/go-karting/" target="_blank">go-karting.</a>
      
      .divider
        h2 Any breakfast or lunch recommendations?
        p For sure. Check out <a href="https://goo.gl/maps/PSqreADgMrH2" target="_blank">Verna's Flight Line Restaurant</a>.
      
      .divider
        h2 Where can I get a quick beer?
        p Try <a href="http://www.glasstownbrewery.com/" target="_blank">Glasstown Brewery</a> to sample a South Jersey microbrew.

      .divider
        h2 Is Ruby coming to the wedding?
        p Yes, she will make a brief appearance, but she asks that you leave your pets at home.
      

    footer
