extends layouts/_layout

block content
  header
    h1 Joanna + Aharon's Wedding
    ul
      li
        a(href="/").here Home
        span /
      li
        a(href="/wedding-day") Wedding Day
        span /
      li
        a(href="/travel") Lodging/Travel
        span /
      li
        a(href="/faq") FAQs
        span /
      li
        a(href="https://docs.google.com/forms/d/e/1FAIpQLScLbpKmfiGp7J0l9g9x0Kj7XJYzVvafyd2cVUEOsQIQ6Yx4bA/viewform?usp=sf_link", target="_blank") RSVP

  .banner
    img(src="/images/website-header.jpg")
  .wrapper

    .text
      h1 Overview 🎉
      ul
        li 
          .emoji-header ⏰
          span JoJo + Aharon are getting married on <b>September 15, 2018 at 5pm</b>.
        li
          .emoji-header 📍
          span The ceremony and reception will be located at <a href="https://goo.gl/maps/DaWxVAAUbgt" target="_blank">455 Oxford Street, Bridgeton, NJ 08302</a>, the home of Aharon's parents, Keith and Betsy Riley-Wasserman. 
        li 
          .emoji-header ✈️
          span If you're traveling to New Jersey from out of town, you can find <a href="/travel">travel and lodging information here.</a>
      
      .button-line
        a.purple-button(href="https://docs.google.com/forms/d/e/1FAIpQLScLbpKmfiGp7J0l9g9x0Kj7XJYzVvafyd2cVUEOsQIQ6Yx4bA/viewform?usp=sf_link", target="_blank") RSVP here
      
      //- video(width="100%", muted="", loop="", autoplay="")
      //-   source(src='/video/tv_field.mp4', type='video/mp4')
      //-   source(src='/video/tv_field.ogg', type='video/ogg')
      //- img(src="/images/roof.gif")
      //- img(src="/images/dance.gif", width="100%")
      //- img(src="/images/engage.gif", width="100%")
      //- img(src="/images/yard.gif")
      //- img(src="/images/nuzzle.gif")

    footer
