extends layouts/_layout

block content
  header
    h1 Joanna + Aharon's Wedding
    ul
      li
        a(href="/") Home
        span /
      li
        a(href="#") RSVP
        span /
      li
        a(href="/wedding-day") Wedding Day
        span /
      li
        a(href="/lodging").here Lodging
        span /
      li
        a(href="/travel") Travel
        span /
      li
        a(href="/faqs") FAQs
        
  .wrapper
    .left
      img(src="/images/painting.jpg")

    .right
      p We have a hotel block at 2 neighboring hotels in nearby Vineland, NJ.  
      p Note: The block has a 2-night minimum; book outside of the block for 1 night reservations.
      p <b>Bonus:</b> if you stay at one of these hotels, we’ll have a shuttle service that can take you to and from the venue!
      p 
        b Hampton Inn (newer hotel, $169/night):
        ul
          li <a href="#">Book at this link</a>
          li Or call: 856-405-0600 and mention "Rosholm-Wasserman Wedding"
      p 
        b Wingate (next door to Hampton Inn, $119/night):
        ul
          li Call: 856-690-9900 and mention "Rosholm-Wasserman Wedding"
      p 
        b Other options
        ul
          li Philadelphia is about a 1 hour drive and has all major chain hotels (for you Starwood point chasers).
          li Cape May is about a 45 minute drive and has some cool, historic hotels and B&Bs.
