extends layouts/_layout

block content
  header
    h1 
      span Joanna + Aharon's Wedding
    ul
      li
        a(href="/") Home
        span /
      li
        a(href="/wedding-day") Wedding Day
        span /
      li
        a(href="/lodging").here Lodging/Travel
        span /
      li
        a(href="/faq") FAQs
        span /
      li
        a(href="https://www.zola.com/registry/jojoandaharon", target="_blank") Registry

  .banner
    img(src="/images/website-header.jpg")


  .wrapper
    .text
      h1 Travel + Lodging ✈️

      .divider
        h2 Shuttle Service
        p Saturday, you can party your socks off and not have to worry about a car. 
        p We will have shuttles running between the Hampton Inn and neighboring Wingate to and from the venue throughout the night.  
        p Shuttles from the Hampton Inn and Wingate hotels will begin at 3:30pm. <span style="background-color: yellow;font-weight: bold;">Last shuttle before the ceremony will depart at 4:00pm.</span> Each bus holds a limited number of people, so try to catch an early bus if you can! Kids are welcome.
        p The shuttles will pick up in the hotels' shared parking lot. Look for the shuttle busses that say "Jitney" on the side. 

      .divider
        h2 Parking at the Wedding
        p There is very limited parking on-site (in Aharon’s parents’ neighborhood). Please take the shuttles if you can!
      
      .divider
        h2 Traveling to South Jersey
        p If you’re flying to the wedding, you'll want to fly into <b>Philadelphia International Airport (PHL)</b>.
        p If you're taking the train, Bridgeton, NJ is equidistant to <b>Philadelphia 30th Street Station</b> and <b>Wilmington Penn Station</b>.
        p From Philadelphia or Wilminton you'll need to rent a car (or an expensive Uber/Lyft) to Bridgeton, NJ (where the wedding is) or neighboring Vineland, NJ (where the hotel blocks are).
        p It is about a 1 hour drive to Bridgeton or Vineland from Philadelphia.
      
      .divider
        h2 Where to stay
        p Our hotel block rates are no longer available, but most guests are staying at the <a href="https://www.wyndhamhotels.com/wingate/vineland-new-jersey/wingate-by-wyndham-vineland/overview" target="_blank">Wingate</a> or <a href="http://hamptoninn3.hilton.com/en/hotels/new-jersey/hampton-inn-and-suites-vineland-ACYVIHX/index.html" target="_blank">Hampton Inn and Suites</a> in Vineland, NJ.
        p If you stay in either of these hotels, we’ll have a shuttle service that can take you to and from the venue!

        h3 Other options
        p Philadelphia, PA is about a 1 hour drive and has all major chain hotels (for you Starwood point chasers).
        p The quaint beach town of Cape May, NJ is about a 50 minute drive and has some cool, historic hotels and B&Bs.


    footer
