extends layouts/_layout

block content
  header
    h1 
      span Joanna + Aharon's Wedding
    ul
      li
        a(href="/") Home
        span /
      li
        a(href="/wedding-day") Wedding Day
        span /
      li
        a(href="/lodging").here Lodging/Travel
        span /
      li
        a(href="/faq") FAQs
        span /
      li
        a(href="https://docs.google.com/forms/d/e/1FAIpQLScLbpKmfiGp7J0l9g9x0Kj7XJYzVvafyd2cVUEOsQIQ6Yx4bA/viewform?usp=sf_link", target="_blank") RSVP

  .banner
    img(src="/images/website-header.jpg")


  .wrapper
    .text
      h1 Travel + Lodging ✈️
      .divider
        h2 Traveling to South Jersey
        p If you’re flying to the wedding, you'll want to fly into <b>Philadelphia International Airport (PHL)</b>.
        p If you're taking the train, Bridgeton, NJ is equidistant to <b>Philadelphia 30th Street Station</b> and <b>Wilmington Penn Station</b>.
        p From Philadelphia or Wilminton you'll need to rent a car (or an expensive Uber/Lyft) to Bridgeton, NJ (where the wedding is) or neighboring Vineland, NJ (where the hotel blocks are).
        p It is about a 1 hour drive to Bridgeton or Vineland from Philadelphia.
      
      .divider
        h2 Where to stay
        p We have a hotel block at 2 neighboring hotels in nearby Vineland, NJ: a <a href="#">Hampton Inn</a> (newer hotel, $169/night) and a <a href="#">Wingate</a> (next door to Hampton Inn, $119/night). The hotel blocks have a 2-night minimum. If you want to make a 1 night reservation, you can book your room outside of the block.
        p If you stay in either of these hotels, we’ll have a shuttle service that can take you to and from the venue!
        p <b>🏨Hampton Inn:</b> To <a href="#">book a room at the Hampton Inn, click here</a>, or call <b>(856) 405-0600</b> and mention the <b>"Rosholm-Wasserman Wedding"</b>
        p <b>🏨Wingate:</b> To book a room at the Wingate, call <b>(856) 690-9900</b> and mention the <b>"Rosholm-Wasserman Wedding"</b>

      .divider
        h2 Other options
        p Philadelphia, PA is about a 1 hour drive and has all major chain hotels (for you Starwood point chasers).
        p The quaint beach town of Cape May, NJ is about a 50 minute drive and has some cool, historic hotels and B&Bs.

      .divider
        h2 Shuttle Service
        p Saturday, you can party your socks off and not have to worry about a car. 
        p We will have shuttles running between the Hampton Inn and neighboring Wingate to and from the venue throughout the night.  

      .divider
        h2 Parking at the Wedding
        p There is very limited parking on-site (in Aharon’s parents’ neighborhood). Please take the shuttles if you can!
      
    footer
