extends layouts/_layout

block content
  header
    h1 Joanna + Aharon's Wedding
    ul
      li
        a(href="/") Home
        span /
      li
        a(href="/wedding-day").here Wedding Day
        span /
      li
        a(href="/travel") Lodging/Travel
        span /
      li
        a(href="#") RSVP
        
  .wrapper
    .text
    
      h1 Wedding Schedule ⏰
      h2 Saturday
      p <b>Ceremony - 5:00 pm</b>
      p 455 Oxford Street, Bridgeton NJ 08302
      p Shuttles from the Hampton Inn and Wingate hotels will begin at 3:30pm and run every 30 minutes.  Last shuttle before the ceremony will be at 4:30pm.  Each bus holds a limited number of people, so try to catch an early bus if you can!

      p <b>Reception - 5:30 pm until 10:00 pm</b>
      p 455 Oxford Street, Bridgeton NJ 08302
      p Bring your dancing shoes!  Shuttles will continue to go back and forth following the reception, should you need a lift back to the hotel.  

      p <b>AfterParty 10:30 pm until 2:00 am</b>
      p Baitbox/TBD
      p Shuttles will begin to the TBD as early as 10pm.  Shuttles will also be available from the TBD to Aharon’s parents’ home and to the Hampton Inn and Wingate until 2am.  

      p <b>Sunday Brunch + Pool Party - 12:00 pm - 4:00 pm</b>
      p 455 Oxford Street, Bridgeton NJ 08302
      p Head back to where it all began for some pool time and hangover eats.  Kids are welcome!
    footer
