extends layouts/_layout

block content
  header
    h1 Joanna + Aharon's Wedding
    ul
      li
        a(href="/") Home
        span /
      li
        a(href="/wedding-day").here Wedding Day
        span /
      li
        a(href="/travel") Lodging/Travel
        span /
      li
        a(href="/faq") FAQs
        span /
      li
        a(href="https://www.zola.com/registry/jojoandaharon", target="_blank") Registry

  .banner
    img(src="/images/website-header.jpg")

  .wrapper
    .text
    
      //- h1 Wedding Schedule ⏰
      h1(style="text-align:left") Saturday
      
      .divider
        h2 Ceremony
        p Shuttles from the Hampton Inn and Wingate hotels will begin at 3:30pm. <span style="background-color: yellow;font-weight: bold;">Last shuttle before the ceremony will depart at 4:00pm.</span> Each bus holds a limited number of people, so try to catch an early bus if you can! Kids are welcome.
        p The shuttles will pick up in the hotels' shared parking lot. Look for the shuttle busses that say "Jitney" on the side. 
        p If you're driving to the wedding, please arrive no later than 4:30pm to allow time for self-parking, which is limited. <span style="background-color: yellow;font-weight: bold;">The ceremony starts promptly at 5:00pm</span>.
        h3 When: 5:00 pm
        h3 Where: 455 Oxford Street, Bridgeton NJ 08302
      
      .divider
        h2 Reception
        p Bring your dancing shoes! Shuttles will continue to go back and forth following the reception, should you need a lift back to the hotel.  
        h3 When: 5:30 pm - 10:00 pm
        h3 Where: 455 Oxford Street, Bridgeton NJ 08302

      .divider
        h2 After Party
        p Shuttles will depart for Bait Box at 10pm. From the Bait Box, shuttles will depart every 45 minutes starting at 11:15pm until 2am. Shuttle drop offs include the Hampton Inn, Wingate hotel, and the Wasserman home.
        p One shuttle departing Bait Box at 2am will make drop offs at local Bridgeton addresses.
        h3 When: 10:30 pm - 2:00 am
        h3 Where: Bait Box Restaurant, 30 Hancock Harbor Rd, Greenwich, NJ 08323
      
      h1(style="text-align:left; margin-top: 60px") Sunday
      .divider
        h2 Brunch + Pool Party
        p Head back to Aharon's parents' house for some pool time and hangover eats.
        h3 When: 12:00 pm - 4:00 pm
        h3 Where: 455 Oxford Street, Bridgeton NJ 08302
      
    footer
