doctype html
html.js.csstransforms3d(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='Cache-control', content='public')

    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1", media="(device-height: 568px)")

    meta(name="ROBOTS", CONTENT="INDEX, FOLLOW")
    meta(name="description", content="JOJO + AHARON ARE GETTING MARRIED. PLEASE JOIN US ON SEPTEMBER 15TH, 2018 IN BRIDGETON, NJ FOR BRIEF NUPTUALS, DINNER, AND DANCING.")
    title JoJo & Aharon Getting Married

    link(href='/styles/styles.css', rel='stylesheet', type='text/css')
    link(rel="icon", href="favicon.ico")
  body

    #container
      block content
  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="/js/scripts.js")
